/* :root {
	--background-color: #fff;

	--text-color: #000;
	--text-color-header: #000;
	--text-color-highlight: #000;
	--text-color-link: #3857ff;
	--text-color-link-active: #f84890;
	--text-color-link-visited: #b24bab;
	--text-color-accent: #f84890;
	--background-color-highlight: color-mix(in srgb, #ffe300, transparent 50%);
	--spoiler-color: #a6aed7;
	--code-background: color-mix(in srgb, var(--text-color), transparent 95%);

	--font-size-text: 1.125rem;
	--font-size-caption: 0.825rem;
	--syntax-tab-size: 2;
	--article-width: 48rem;
	--sidenote-margin: 3rem;
	--transparency-underline: 80%;
	--star-mark: "♥";
	--end-mark: "❦";
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #202020;

		--text-color: #e5e5e5;
		--text-color-header: #fff;
		--text-color-link: #8ea0ff;
		--text-color-link-active: #f84890;
		--text-color-link-visited: #e784e0;
		--text-color-accent: #f84890;
		--text-color-highlight: #2a0035;
		--background-color-highlight: #ffea78;
		--transparency-underline: 40%;
	}
}

:root {
	--font-family: "Commissioner", -apple-system, system-ui, sans-serif;
	--font-family-monospace: "PT Mono", Consolas, Menlo, Monaco, monospace;
	--font-family-caption: "Commissioner", -apple-system, system-ui, sans-serif;
}

*/
