/* :root {
	--background-color: #fff;

	--text-color: #000;
	--text-color-header: #000;
	--text-color-highlight: #000;
	--text-color-link: #3857ff;
	--text-color-link-active: #f84890;
	--text-color-link-visited: #b24bab;
	--text-color-accent: #f84890;
	--background-color-highlight: color-mix(in srgb, #ffe300, transparent 50%);

	--syntax-tab-size: 2;
	--window-border: #c4c4e3;
	--article-width: 48rem;
	--sidenote-margin: 2rem;
	--transparency-underline: 80%;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #202020;

		--text-color: #e5e5e5;
		--text-color-header: #fff;
		--text-color-link: #8ea0ff;
		--text-color-link-active: #f84890;
		--text-color-link-visited: #e784e0;
		--text-color-accent: #f84890;
		--text-color-highlight: #2a0035;
		--background-color-highlight: #ffea78;
		--transparency-underline: 40%;
	}
} */
