---js
permalink: /media/

const eleventyComputed = {
	title: 'Медиатека · {{ metadata.title }}',
};
---


<h1>Медиатека</h1>
<div class="mediateka-grid image-grid">
{% for post in collections.posts %}
{% set images = post.data.media | imagesOnly %}
{% if images.length > 0 %}
{% for file in images %}
			<div class="mediateka-grid-item image-item unvisitable">
			 <div class='post-title-block'>
					<a href="{{ post.url }}">#</a>
				</div>
				<a href="/media/{{ file }}">
				{% image "./content/blog/media/" + file, file, {height: 160} %}
				</a>
			</div>
		{% endfor %}
{% endif %}
{% endfor %}
</div>

<ul class='linklist'>
	{% for post in collections.posts %}
	{% set nonImages = post.data.media | nonImages | sortAlphabetically %}
	{% if nonImages.length > 0 %}
		{% for file in nonImages %}
			<li class='linklist-item unvisitable'>
				<a href="/media/{{ file }}">{{ file }}</a><a class="post-url-anchor" href="{{post.url}}"> #</a>
			</li>
		{% endfor %}
	{% endif %}
	{% endfor %}
</ul>
