<!doctype html>
<html lang="{{ metadata.language }}" prefix="og: http://ogp.me/ns#">

<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description | striptags or metadata.description | striptags }}">

		<link rel="icon" href="/assets/favicon.svg" sizes="any" type="image/svg+xml">
		<link rel="icon" href="/assets/favicon.png" sizes="32x32">

    {% block preload %}
    <link rel="preload" href="/media/logo.svg" as="image" type="svg+xml" crossorigin="">
    <link rel="preload" href="/fonts/Arsenal-Regular.woff2" as="font" type="font/woff2" crossorigin="">
    <link rel="preload" href="/fonts/Arsenal-Bold.woff2" as="font" type="font/woff2" crossorigin="">
    {% endblock %}

		{%- css %}{% include "public/css/core.css" %}{% endcss %}
		{%- css %}{% include "public/css/extras.css" %}{% endcss %}
		{%- css %}{% include "public/css/lists.css" %}{% endcss %}
		{% block extracss %}{% endblock %}

    <style>{% getBundle "css" %}</style>
		<!-- <link rel="stylesheet" href="{% getBundleFileUrl "css" %}"> -->

		<!-- <script src="{% getBundleFileUrl "js" %}"></script> -->

		<meta name="og:site_name" content="{{ metadata.title }}">

		{%- if not thumbnail %}
			<meta name="twitter:card" content="summary_large_image">
			{% set images = media | imagesOnly %}
			{%- for image in images %}
				<meta property="og:image" content="/media/{{image}}">
			{% endfor %}

		{% else %}
			<meta property="og:image" content="/media/{{thumbnail}}">
			<meta name="twitter:card" content="summary_large_image">
			<meta property="twitter:image" content="/media/{{thumbnail}}">
		{% endif %}
</head>

<body>
<!-- <header>
</header> -->

<main id="skip">
	{% block beforeContent %}{% endblock %}

	{{ content | safe }}

	{% block afterContent %}{% endblock %}
</main>

<footer class='unvisitable'>
			<p class="footer-text">© {{ metadata.author.name }}, {{ metadata.foundation }}{#–{% year %} #}<br>
			<a href="mailto:inbox@logicgate.bio">inbox@logicgate.bio</a>
			<p class="footer-built"> Made by <a href="https://magvag.ru/">magvag</a></p>
</footer>

</body>
</html>
